* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  background: #e0e0e0;
  z-index: 1;
}

.nav-content {
  margin: 0;
  padding: 0;
  height: 0;
  width: 100vw;
}

.contenedor {
  visibility: hidden;
  width: 100%;
  max-width: 1250px;
  margin: 50px auto 100px auto;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transition: all 0.35s ease-in;
  gap: 50px;
  background-color: #e0e0e0;
}

.contenedor.visibility {
  visibility: visible;
  height: 100vh;
}
.contenedor .pelicula {
  text-align: center;
}

.contenedor .pelicula .titulo {
  font-size: 16px;
  font-weight: 600;
}

.contenedor .pelicula .poster {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.contenedor .pelicula .poster:hover {
  transform: scale(1.03);
  border-radius: 0;
}

.paginacion {
  position: fixed;
  bottom: 0;
  background: #100a1f;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  z-index: 100;
}

.paginacion button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 200px;
  background: #241744;
  color: #fff;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: 0.3s ease all;
}

.paginacion button:hover {
  background: #137c32;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* @media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
} */

@media (max-width: 650px) {
  .paginacion {
    position: fixed;
    bottom: 0;
    background: #100a1f;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 0px 10px 0px;
    z-index: 100;
    gap: 5px;
    border-radius: 0px;
  }

  .paginacion button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 50%;
    background: #241744;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    transition: 0.3s ease all;
    border-radius: 0px;
  }

  .paginacion button:hover {
    background: #137c32;
  }

  .contenedor {
    width: 100%;
    max-width: max-content;
    margin: 50px auto 100px auto;
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 0px;
    gap: 15px;
  }

  .contenedor .pelicula {
    text-align: center;
    margin: 10px;
  }

  .contenedorReco {
    position: fixed;
    background-color: #e0e0e0;
    height: 0px;
    margin-top: -8px;
    margin-left: 0px !important;
    z-index: 55;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    visibility: hidden;
    opacity: 1;
    transition: all 0.35s ease-in;
    width: 100% !important;
  }
  .contenedorReco.is-visible {
    visibility: visible;
    height: 100vh;
  }
}

h2 {
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
}

#btnBack:hover {
  background-color: #ccc;
}

#btn-modooscuro {
  display: flex;
  gap: 0px;
  margin: 0px 40px;
  padding: 0px;
  /* border: 3px solid #fff; */
  border-radius: 30%;
  align-items: center;
}

#btn-modooscuro img {
  max-width: 30px;
  max-height: 30px;
  margin: 0px;
  padding: 2px;
}

#btn-modooscuro button {
  border-radius: 50%;
  margin: 5px;
}

#btn-modooscuro #button-sol {
  border-radius: 50%;
  border: 1px solid #000;
  outline: 3px solid #fff;
  width: 38px;
  height: 38px;
}
#btn-modooscuro #button-luna {
  border: 1px solid #000;
  outline: 3px solid #fff;
  width: 38px;
  height: 38px;
}

.modo-dia {
  background: #e0e0e0 !important;
  color: #1d1d1d !important;
}

.modo-noche {
  background: #121212 !important;
  color: #eee !important;
}

.cursor {
  cursor: pointer;
}

.contenedorReco {
  position: absolute;
  height: 0px;
  margin-top: -8px;
  margin-left: 35%;
  z-index: 55;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  visibility: hidden;
  opacity: 1;
  transition: all 0.35s ease-in;
  width: 60%;
  background-color: #e0e0e0;
}

.contenedorReco.is-visible {
  visibility: visible;
  height: 100vh;
}
.contenedorReco .pelicula {
  text-align: center;
}

.contenedorReco .pelicula .titulo {
  font-size: 16px;
  font-weight: 600;
}

.contenedorReco .pelicula .poster {
  width: 100%;
  margin-bottom: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.contenedorReco .pelicula .poster:hover {
  transform: scale(1.03);
}

.titulo {
  background-color: #e0e0e0;
}
