* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #e0e0e0;
  color: #1d1d1d;
  width: 100vw;
  z-index: 1;
}

.nav-content {
  margin: 0;
  padding: 0;
  height: 0;
  width: 100vw;
}

.contenedor {
  width: 100%;
  max-width: 1250px;
  margin: 50px auto 100px auto;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.contenedor .pelicula {
  text-align: center;
}

.contenedor .pelicula .titulo {
  font-size: 16px;
  font-weight: 600;
}

.contenedor .pelicula .poster {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.contenedor .pelicula .poster:hover {
  transform: scale(1.03);
  border-radius: 0;
}

.paginacion {
  position: fixed;
  bottom: 0;
  background: #100a1f;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  z-index: 100;
}

.paginacion button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 200px;
  background: #241744;
  color: #fff;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: 0.3s ease all;
}

.paginacion button:hover {
  background: #137c32;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* @media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
} */

@media (max-width: 650px) {
  .paginacion {
    position: fixed;
    bottom: 0;
    background: #100a1f;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 0px 10px 0px;
    z-index: 100;
    gap: 5px;
    border-radius: 0px;
  }

  .paginacion button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 50%;
    background: #241744;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    transition: 0.3s ease all;
    border-radius: 0px;
  }

  .paginacion button:hover {
    background: #137c32;
  }

  .contenedor {
    width: 100%;
    max-width: max-content;
    margin: 50px auto 100px auto;
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .contenedor .pelicula {
    text-align: center;
    margin: 10px;
  }
}

h2 {
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
}

#btnBack:hover {
  background-color: #ccc;
}
