/* Show it is fixed to the top */
.nav-content {
  height: auto;
  padding-top: 4.5rem;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

iframe {
  width: 100%;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  position: fixed;
  top: 0px;
  max-height: 60px;
  z-index: 2;
}
